body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-modern:hover {
  transition: all 0.4s;
  transform: translateY(-5px);
  box-shadow: 5px 10px #888888;
  background-color: black;
  color: white;
}
